<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/posts" class="item"><i class="newspaper outline icon"></i> Posts </a>
            <a href="/" class="item"><i class="book icon"></i> Blog Site</a>
            <a class="item" href="/posts/new">Create a new post</a>
            <% if(!currentUser){ %>
                <a href="/login" class="item right">Login</a>
                <a href="/register" class="item right">Sign up</a>
            <% }else{ %>
                <div class="item right">Signed as <%= currentUser.username %></div>
                <a href="/logout" class="item right">Logout</a>
            <% } %>
        </div>
    </div>
    
        
    
