<% include ./partials/header %>
<div class="ui main text container segment "></div>
<a href="/posts">Go to the posts</a>
 <!-- Create here the section and a single posts insude it -->






<% include ./partials/footer %>