<% include ./partials/header %>


<h1>Register route</h1>
<form action="/register" method="POST">
    <input type="text" name = "username" placeholder="username" required 
    maxlength="30" minlength="4" title="Name length is between 4 and 30 chars" >
    <input type="email" name = "email" placeholder="email" maxlength="40" required >
    <input type="password" id="pass" name = "password" placeholder="password" required
    maxlength="30" minlength="10" title="The password length should be between 10 and 30 chars">
    <button>Sign up!</button>
</form>

<% include ./partials/footer %>
